.button {
  display: block;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #673ab7;
  color: black;
  background: none;
  cursor: pointer;
  width: unset;
}

.button--primary {
  background: #673ab7;
  color: white;
}

.button--full-width {
  width: 100%;
}
